BUILDLOG/
custom/yaud-neutrino-*
custom/yaud-enigma2-*
custom/yaud-titan-*
custom/release_*
own_build/
Patches/patch-neutrino/
Patches/patch-titan/
root/boot/*
.deps/
config*
*~
Makefile.local
config.local
